<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Weather</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <!--todo header-->
    <!--todo odabir grada-->
    <h1>
        Prognoza za {{ prognoza.name }}     <!-- za razliku od dictionaryja, ovdje ne koristimo uglate zagrade nego tocku za dohvat iz dictionaryja  -->
    </h1>
    <ul>
        <li>
            <p>Pressure</p>
            <span>{{ prognoza.main.pressure }}</span>
        </li>
        <li>
            <p>Temperature</p>
            <span>{{ prognoza.main.temp }}</span>
        </li>
        <li>
            <p>Humidity</p>
            <span>{{ prognoza.main.humidity }}</span>
        </li>
    </ul>
    <!--todo Back button-->
</body>
</html>