.logo {
    color: red;
    padding: 10px;
}

.navbar {
    height: 60px;
}

.nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 10px;
    color: red;
}

.nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.nav a:hover {
    color: #f1f1f1;
}

.tab-content {
    margin-left: 170px; /* Same as the width of the nav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.email {
    padding: 20px;
}
